streamlit
torch
clip-anytorch
Pillow
chromadb
sentence-transformers
transformers
bitsandbytes
accelerate
timm
chromadb[all]==0.4.24
numpy==1.24.4
sentence-transformers
torch
faiss-cpu
duckdb
uvicorn
fastapi
pydantic<2.0


