# Web UI
streamlit

# Core dependencies
torch
clip-anytorch
timm
Pillow
numpy==1.23.5

# Sentence and CLIP Embeddings
sentence-transformers
transformers

# Vector DB
chromadb==0.4.24
duckdb
faiss-cpu

# Optional but useful
pydantic<2.0
uvicorn
fastapi
